@import url('https://fonts.googleapis.com/css?family=Titan+One');
* {
	font-family: 'Fira Sans', sans-serif;
}
.container .jumbotron	{
	background-image: url("../images/pingpong-logo-dark.png");
	background-size: cover;
	border-radius: 0;
	margin-bottom: 0;
	
	height: 200px;
}
.container	{
	width: 80%;
}
.section	{
	/*margin-top: 200px;*/
	/*width: 80%;*/
	height:100%;
	background-image: url("../images/youtube.jpg");
	background-repeat: repeat-y;
	background-size: 100%;
}
.content	{
	padding-left: 300px;
	font-size: 15px;
	color:#fff ;
}
.section .content form input{
	color: black;
}
.section .content ol{
	color: yellow;
}