@import url('https://fonts.googleapis.com/css?family=Titan+One');
* {
	font-family: 'Fira Sans', sans-serif;
}
body .container .jumbotron	{
	background-image: url("../images/pingpong-logo-dark.png");
	background-size: contain;
	background-repeat: no-repeat;
	border-radius: 0px;
	margin-bottom: 0;
	
	height: 130px;
}
.container	{
	width: 80%;
}
.section	{
	/*margin-top: 200px;*/
	/*width: 80%;*/
	height:100%;
	background-image: url("../images/youtube.jpg");
	background-repeat: repeat-y;
	background-size: 100%;
}
.content	{
	padding-left: 300px;
	font-size: 15px;
	color:#fff ;
	margin-bottom: 257px;
}
.section .content form input{
	color: black;
}
.section .content ol{
	color: yellow;
}
.footer	{
	background-color: #b3974c;
	width: 100%;
	margin: 0;
	padding: 10px;
	float: left;
}
.footer div{
	display: inline-block;
	padding-right: 150px;
}